body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

header img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.name-tag {
  font-weight: bold;
  font-size: 20px;
}

.section {
  font-size: 16px;
  color: #ccc;
}

.custom-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header1 {
  background-image: src <img src="assets/img/owin.png">
}

.header2 {
  background-image: url('assets/img/skysporsts-f1-sprint-start-5580454.jpg');
}

.header3 {
  background-image: url('assets/img/driver.webp');
}

.header4 {
  background-image: url('assets/img/circuit.jpg');
}

.header5 {
  background-image: url(');
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: none;
  font-size: 16px;
}

.btn.red {
  background-color: #e10600;
}

.btn.red:hover {
  background-color: #ff3b30;
}

.btn.blue {
  background-color: #007bff;
}

.btn.blue:hover {
  background-color: #3399ff;
}

.btn.green {
  background-color: #28a745;
}

.btn.green:hover {
  background-color: #3ddc84;
}

.btn.yellow {
  background-color: #ffc107;
  color: black;
}

.btn.yellow:hover {
  background-color: #ffdd33;
  color: black;
}

.btn.white {
  background-color: #f8f9fa;
  color: black;
}

.btn.white:hover {
  background-color: #ddd;
}

footer {
  padding: 30px;
  background-color: #111;
  color: #fff;
  text-align: center;
}